<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="local" value=".\artifacts" />
    </packageSources>
    <packageSourceMapping>
        <packageSource key="local">
            <package pattern="squirrel.*" />
        </packageSource>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
